{% include 'adminhead.html' %}


      <section >
        
            <div class="row">
               <div class="col-lg-12">
                  <div class="full text_align_center heading_s1">
                     <h2 style="width: 100%;text-align: center;">REPORTS</h2> 
					
                           </div>
					
               </div>
            </div>
			</section>
			
               <div class="col-md-12" style="width:1500px;">
                  <div>
                     <div class="row">
					         <div class="col-md-12" style="width:500px;">
                           <div class="form_cont">
					
					<table>
					
					<tr><td>
					<a href="/orderreport?dev=0" style="float:right"><button style="background-color:black;color:white">Delivery Reports</button></a><br>
					</td></tr>
					
					<tr><td>
					<a href="/orderreport/" style="float:right"><button style="background-color:black;color:white"> Order Reports</button><a><br>
					</td></tr>
					
					<tr><td>
					<a href="/staffreport/" style="float:right"><button style="background-color:black;color:white">Staff Reports</button></a>
					</td></tr>
					
					<tr><td>
					<a href="/venreport/" style="float:right"><button style="background-color:black;color:white"> Vendor Reports</button><a>
					</td></tr>
					
					<tr><td>
					<a href="/purreport/" style="float:right"><button style="background-color:black;color:white">Purchase Report</button></a>
					</td></tr>
					
					</table>
					
					<hr/>
									
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/tether.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/parallax.js"></script>
		<script src="/static/js/animate.js"></script>
		<script src="/static/js/ekko-lightbox.js"></script>
		<script src="/static/js/custom.js"></script>
		</body>
</html>